In [115]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

In [116]:
df = pd.read_csv('https://drive.google.com/uc?export=download&id=130KYOX8O4wrP_T8vdz2GfvJRQ03ONmE7')
df.to_csv('/Users/polyakovk/ds_bootcamp/rental-cost-estimate/data/_data.csv')

## На этом этапе мы произвоидм разведывательный анализ данных.
### Анализ данных включает в себя:
#### 1. **Описание данных:**

* Размер данных: Количество строк и столбцов.  
* Типы данных: Типы данных в каждом столбце.  
* Первые и последние строки: Просмотр первых и последних нескольких строк данных для общего понимания структуры.

#### 2. **Обработка пропущенных данных:**

* Выявление пропущенных значений: Подсчет количества пропущенных значений в каждом столбце.   

#### 3. **Обработка выбросов:**

* Выявление выбросов: Использование графиков, таких как boxplot, для идентификации выбросов.   

#### 4. **Описательная статистика:**

* Основные статистики: Среднее, медиана, стандартное отклонение, минимальные и максимальные значения, квартили.  

#### 5. **Исследование категориальных данных:**

* Выявление категориальных признаков и их количество

In [117]:
rows, columns = df.shape
print('1. Описание данных \n')
print(f"Размер данных: {rows} строк, {columns} столбцов")

1. Описание данных

Размер данных: 23368 строк, 25 столбцов

In [118]:
data_types = df.dtypes
print("\nТипы данных в каждом столбце:\n", data_types)

numeric_count = sum(df.dtypes.astype(str).str.contains('int|float'))
categorical_count = sum(df.dtypes.astype(str).str.contains('object'))

print(f"\nКоличество числовых признаков: {numeric_count}")
print(f"Количество категориальных признаков: {categorical_count}")

Типы данных в каждом столбце:
 Unnamed: 0                    int64
ID  объявления                int64
Количество комнат            object
Тип                          object
Метро                        object
Адрес                        object
Площадь, м2                  object
Дом                          object
Парковка                     object
Цена                         object
Телефоны                     object
Описание                     object
Ремонт                       object
Площадь комнат, м2           object
Балкон                       object
Окна                         object
Санузел                      object
Можно с детьми/животными     object
Дополнительно                object
Название ЖК                  object
Серия дома                   object
Высота потолков, м          float64
Лифт                         object
Мусоропровод                 object
Ссылка на объявление         object
dtype: object

Количество числовых признаков: 3
Количество категориальных признаков: 22

In [125]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
display(HTML(df.head(3).to_html(max_rows=100, max_cols=20)))
display(HTML(df.tail(3).to_html(max_rows=100, max_cols=20)))

In [119]:
missing_values = df.isnull().sum()
print('2. Обработка пропущенных данных \n')
missing_values_df = pd.DataFrame({'Столбец': missing_values.index, 'Количество пропущенных значений': missing_values.values})
print(missing_values_df)

2. Обработка пропущенных данных

                     Столбец  Количество пропущенных значений
0                 Unnamed: 0                                0
1             ID  объявления                                0
2          Количество комнат                             1041
3                        Тип                                0
4                      Метро                             1315
5                      Адрес                                0
6                Площадь, м2                                0
7                        Дом                                0
8                   Парковка                            13417
9                       Цена                                0
10                  Телефоны                                0
11                  Описание                                0
12                    Ремонт                             2755
13        Площадь комнат, м2                             8910
14                    Балкон                             7978
15                      Окна                             6613
16                   Санузел                             2672
17  Можно с детьми/животными                             6096
18             Дополнительно                              357
19               Название ЖК                            17520
20                Серия дома                            21205
21        Высота потолков, м                            12162
22                      Лифт                             5500
23              Мусоропровод                            10522
24      Ссылка на объявление                                0

In [120]:
print('3. Обработка выборосов \n')

def detect_outliers(df):
    outliers = {}
    for column in df.select_dtypes(include='number').columns:
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        column_outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)][column]
        outliers[column] = column_outliers.tolist()
    return outliers

outliers = detect_outliers(df)

for column, values in outliers.items():
    if len(values) > 0:
        print(f"Столбец '{column}': выбросы {values[:10]}")
    else:
        print(f"Столбец '{column}': нет выбросов")
print('\n')
print('На данном этапе не целесообразно оценивать выбросы, так как превалируют категориальные признаки, требуется дополнительная обработка данных')

3. Обработка выборосов

Столбец 'Unnamed: 0': нет выбросов
Столбец 'ID  объявления': выбросы [223918678, 264664760, 228923308, 265323319, 265804792, 239000408, 241704098, 239000331, 166833883, 261980888]
Столбец 'Высота потолков, м': выбросы [3.5, 3.2, 3.2, 3.9, 3.2, 3.2, 310.0, 3.2, 3.2, 3.2]


На данном этапе не целесообразно оценивать выбросы, так как превалируют категориальные признаки, требуется дополнительная обработка данных

In [121]:
print('4. Описательная статистика \n')
print('Аналогично пункту 3. носит формальный характер')
df.describe()

4. Описательная статистика

Аналогично пункту 3. носит формальный характер

         Unnamed: 0  ID  объявления  Высота потолков, м
count  23368.000000    2.336800e+04         11206.00000
mean   11683.500000    2.676265e+08             2.98345
std     6745.904881    1.876862e+07             7.61472
min        0.000000    1.072986e+08             1.20000
25%     5841.750000    2.712663e+08             2.64000
50%    11683.500000    2.739030e+08             2.64000
75%    17525.250000    2.746872e+08             2.80000
max    23367.000000    2.750064e+08           320.00000

In [122]:
print('5. Исследование категориальных данных')
categorical_count = sum(df.dtypes.astype(str).str.contains('object'))
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()
print(f"Количество категориальных признаков: {categorical_count}")
print(f"Список категориальных признаков: {categorical_columns}")

5. Исследование категориальных данных
Количество категориальных признаков: 22
Список категориальных признаков: ['Количество комнат', 'Тип', 'Метро', 'Адрес', 'Площадь, м2', 'Дом', 'Парковка', 'Цена', 'Телефоны', 'Описание', 'Ремонт', 'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел', 'Можно с детьми/животными', 'Дополнительно', 'Название ЖК', 'Серия дома', 'Лифт', 'Мусоропровод', 'Ссылка на объявление']

In [126]:
!jupyter nbconvert --to html --no-input EDA.ipynb

[NbConvertApp] Converting notebook EDA.ipynb to html
[NbConvertApp] Writing 287021 bytes to EDA.html